@import './common';
@import './icon';

.businesscard-form {
  min-width: 375px;
  &__field {
    label {
      padding-left: 20px;
      font-family: $lato;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: normal;

      color: rgba(7, 16, 28, 0.35);
    }

    input, textarea {
      padding-left: 20px;
      font-weight: 400;
    }

    textarea {
      padding-bottom: 0;
    }

    &._phone {
      input {
        padding-left: 0;
      }
      .v-text-field__prefix {
        padding-left: 10px;
        font-weight: 400;
      }
    }

    &._office {
      width: 79px;
      padding-left: 12px;
    }

    .v-input__append-inner {
      display: none;
    }
    .v-messages__message {
      display: none;
    }
  }

  &__delete {
    @include uno-icon();
    @extend %vertical-align;
    justify-content: center;
    &:hover {
      background-color: rgba(137, 149, 175, 0.35);

      path {
        fill: #000;
      }
    }
  }

  &__field-title {
    padding-top: 20px;
    padding-left: 8px;
    font-family: $lato;
    font-style: normal;
    font-size: 12px;
    line-height: normal;
    color: rgba(7, 16, 28, 0.35);
  }

  &__field-value {
    padding-top: 8px;
    padding-left: 8px;
    font-family: $lato;
    font-style: normal;
    font-size: 14px;
    line-height: normal;
    color: #07101C;
  }

  &__add-field {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(137, 149, 175, 0.35);
    margin: 20px 0;
    background-color: #fff;
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #8995AF;
    transition: color 0.4s 0s, border-color 0.4s 0s;
    outline: none;
    &:hover {
      border-color: #07101C;
      color: #07101C;

      path {
        fill: #07101C;
        fill-opacity: 1;
      }
    }

    span {
      margin-left: 5px;
    }

    &[disabled="disabled"] {
      border-color: rgba(137, 149, 175, 0.1);
      color: rgba(137, 149, 175, 0.2);

      path {
        fill: rgba(137, 149, 175, 0.2);
      }
    }
  }

  &__errors {
    width: 260px;
    margin: 0 auto;
    padding-top: 14px;
    text-align: center;
    font-family: $lato;
    font-size: 14px;
    color: #EF4D37;
    line-height: 18px;
  }

  &__map {
    margin-bottom: 15px;
  }

  &__next {
    display: block;
    width: 240px !important;
    height: 56px !important;
    margin: 28px auto 0;
    color: #fff;
    background-color: #5699FF !important;
    border-radius: 0 !important;
    cursor: pointer;
    font-family: $roboto;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: background-color 0.4s;

    &:hover {
      background: #07101C;
    }
  }

  .top-bordered {
    padding-top: 15px;
    margin: 15px 2px 0;
    border-top: 1px solid  rgba(137, 149, 175, 0.1);
  }

  .v-text-field__prefix {
    color: #07101C !important;
    caret-color: #07101C !important;
  }

  .v-counter {
    order: -1;
    margin-top: 5px;
  }

  &._view-mode {
    .businesscard-form__field-title {
      margin-right: 10px;
      margin-left: 2px;
    }
    .businesscard-form__field-value {
      margin-right: 10px;
      margin-left: 2px;
    }
    .soc {
      padding: 0 10px;
    }
  }
}
