@import './common';

.day-schedule {
  @include vertical-align();
  justify-content: space-between;
  padding: 7px 0;

  &>div {
    text-align: center;
  }

  &__dayname {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    color: #07101C;
    text-align: center;
    text-transform: capitalize;
  }

  &__for-all {
    padding-top: 32px;
  }

  &__times {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-grow: 0;
    padding: 3px 6px 3px 7px;
    font-family: Lato,  sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: normal;
    color: #07101C;
    border-left: 1px solid #8995AF;
    border-right: 1px solid #8995AF;

    input {
      width: 38px;
      text-align: center;
      font-weight: 400;
      padding: 0;
    }
  }
}
