@import './common';

.infocard {
  width: 100%;
  @media only screen and (min-width : $tablet) {
    width: 524px;
    margin: 0 auto;
  }

  @media only screen and (min-width : $desktop) {
    margin: 0;
  }

  &__content {
    padding: 30px 37px 60px;
    background: #fff;
    @media only screen and (min-width : $tablet) {
      box-shadow: 0px 2px 12px rgba(137, 149, 175, 0.1);
    }

    @media only screen and (min-width : $desktop) {
      padding: 40px 120px 60px;
    }
  }

  &._edit {
    .infocard__content {
      @media only screen and (min-width : $desktop) {
        max-width: 524px;
        padding: 40px 110px 60px;
      }
    }
  }
}
